# Postgres
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/resume_analyzer

# Google Gemini
GEMINI_API_KEY=AQ.Ab8RN6JO14JrEEZUcXG5Qzw2M7rDF19fVeOmm6wdKOWv8_FPTA
GEMINI_MODEL=gemini-2.5-flash
GEMINI_EMBEDDING_MODEL=gemini-embedding-001

# Pinecone
PINECONE_API_KEY=pcsk_5zCByv_FPci51xUUVhDzdAHVcFp8kjYoomRr2kA45oCe4kS5GGDoNtDxt2EcyFFjHnCvyS
PINECONE_INDEX_NAME=resume-analyzer
PINECONE_CLOUD=aws
PINECONE_REGION=us-east-1

# App
CORS_ORIGINS=http://localhost:5173
UPLOAD_DIR=./uploads
